		/* Style the body */
	  body {
	    margin: 0;
	    background: #EBBAB9;
	   }
	   /* style the navigation bar*/
	  .topnav ul {
		list-style-type: none;
	    margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
		line-height: 1;
	   }

	  li {
		float: left;
	   }

	  .topnav li a {
		display: block;
		color: white;
		text-align: center;
		padding: 13px 30px;
		text-decoration: none;
		font-size: 20px;
		}
		/* Change the color of links on hover */
	  .topnav a:hover {
	    background-color: #cc2936;
	    color: #b5ffe1;
	  }

		/* Header/Logo Title */
	  .header {
	    padding: 1px;
	    text-align: center;
	    background: #cc2936;
	    color: white;
	    font-size: 30px;
	    overflow: auto;
      }
	  .column1 {
	    float: left;
	    padding-left: 25px;
	    padding-top: 200px;
	    padding-right: 30px;
     }

	  .column2 {
	    float: left;
	    width: 50%;
	    padding-top: 50px;
	    padding-right: 30px;
	  }
	  .column3 {
	    float: left;
	    width: 25%;
	    padding-top: 50px;
	    padding-left: 25;
	  }

	  .name {
	    text-align: center;
	    font-size: 20px;
	    text-decoration: none;  
	  }