{% load static %}

<!DOCTYPE html>
<html>
 <head>
 	
	<title>Football for life</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/sport_blog.css' %}">

</head>

<body> 
   
	<div class="header">
		<a href="{% url 'home' %}" class="logo">Football for Life</a>
		<div class="header-right">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'england' %}">Premier league</a>
			<a href="{% url 'spain' %}">La liga</a>
			<a href="{% url 'italy' %}">Seria A</a>
			<a href="{% url 'france' %}">League 1</a>
			<a href="{% url 'germany' %}">Bundas league</a>
			<a href="{% url 'Champions' %}">Champions league</a>
			<a href="{% url 'contact' %}">Contact</a>
		</div>
	</div>

	<div class="column1">
		<div id="" ="name">
			<a href="#home"><h1>Malick <span>Njie</span></h1></a>
		</div>
		<div id="subscribe">
			<h3>Subscribe for new posts</h3>
			<form>
				<input type="text" name="subscribe" placeholder="Enter email for newsletter">
			</form>
		</div>
	</div>

	  {% block content %}
	  {% endblock content%}

</body>
</html>
